---
layout: gift-wrap
---

<div class="left">
    {{ content }}
</div>

<div class="right">

    <div class="section-header">
        <h1 class="section"> Introducción </h1>
    </div>

    <p class="mobile" id="switch-to-desktop"> </p>

    <br>

    <p>Estamos en una pandemia global, y estamos en un levantamiento nacional sin precedentes en contra de la policía y la supremacía blanca, y las formas en que hacen que la vida negra sea desechable. </p>

    <p>En abril, cuando el mundo empezó a lidiar con el COVID-19, el escritor Arundhati Roy nos desafió a utilizar <a
            href="https://www.ft.com/content/10d8f5e8-74eb-11ea-95fe-fcd274e920ca">esta pandemia como un portal</a>.</p>

    <p>Durante esas primeras etapas de la pandemia, vimos que la vigilancia policial se redujo drásticamente, las tasas de arrestos se desplomaron en muchos lugares y las fechas de las cortes se cancelaron. Algunas personas que habían sido detenidas antes de la pandemia no lo fueron. Al mismo tiempo, los oficiales del gobierno con control sobre cárceles y prisiones sintieron una presión cada vez mayor para liberar al menos a algunas personas que estaban encarceladas, debido a la propagación desenfrenada del COVID-19.
    </p>

    <p><img src="/assets/images/introduction/abolition-is-a-act-of-creation.jpg" 
        alt="Text in a sidewalk chalk mural reads: &quot;Abolition is a act of creation,&quot; and is surrounded in green vines and yellow flowers."/></p>
    <blockquote>
        <p>El texto en un mural de tiza en la acera dice: "La abolición es un acto de creación", y está rodeado de ramas verdes y flores amarillas.
            Imagen a través de <a href="https://commons.wikimedia.org/w/index.php?curid=92698146">Andrew Ratto/Wikimedia</a>.</p>
    </blockquote>

    <p>Nos preguntamos: si el Complejo Industrial de Prisiones (en inglés Prison-Industrial-Complex) se está disminuyendo a pesar de sí mismo, ¿podemos asegurarnos de que continúe haciéndolo?</p>

    <p>También vimos, simultáneamente, el avance de las tecnologías de vigilancia y control social (como  <a
            href="https://gizmodo.com/when-your-freedom-depends-on-an-app-1843109198">aplicaciones de rastreo por GPS</a> y grilletes de tobillo como condición de salida) expandiendo y normalizando el control extra-carceral. Con el tiempo, a medida que las decisiones políticas continúan dando prioridad a los sistemas de castigo sobre todas las demás funciones gubernamentales, estas tecnologías sólo se han combinado más <a
            href="https://theintercept.com/2020/05/25/coronavirus-tracking-bracelets-monitors-surveillance-supercom/">las herramientas de rastreo de criminalización, con las que se comercializan para el rastreo de contactos con el virus</a>.</p>

    <p> En ese contexto, nos preguntamos cómo la movilización abolicionista y de acción directa podrían influir e incluso lograr disminuciones permanentes en los sistemas carcelarios existentes y evitar que se formen nuevos.</p>

    <p>Sin embargo, nuestro contexto aún cambia. Meses viviendo la doble realidad de la propagación viral, así como un levantamiento masivo a nivel nacional contra la policía y la lucha en contra del racismo contra las personas negras, han impulsado a que las demandas para desfinanciar a la policía se tornen populares, y a que hayan conversaciones nacionales sobre la viabilidad de la abolición de las prisiones. Mientras nos enfrentamos al desempleo masivo, los desalojos y las continuas oleadas de infección viral, hay oportunidades sin precedentes para la acción directa, en solidaridad con los manifestantes y con aquellos que enfrentan la peor parte de la criminalización.
    </p>

    <p><img src="/assets/images/introduction/power-to-the-people.jpg"
            alt="Un cartel de protesta que dice &quot;poder para el pueblo&quot;." />
    </p>
    <blockquote>
        <p>Un cartel de protesta que dice "poder para el pueblo". Imagen vía Colección del Museo Nacional Smithsonian de Historia Afroamericana. (Collection of the Smithsonian National Museum of African American History)</p>
    </blockquote>

    <p>¿Cómo subimos la apuesta? ¿Cómo se vería un incremento estratégico de tácticas por parte de los abolicionistas en las cortes, en las cárceles y las prisiones? ¿Cómo podemos interrumpir y cerrar el sistema legal penal, a corto o largo plazo, como parte de una campaña más amplia para #LiberenATodos y #DesfinanciarAlaPolicia?</p>

    <p>Nuestros camaradas en otros movimientos sociales y políticos nos han proporcionado algunas tácticas de acción directa bien probadas: <a href="https://ny.curbed.com/2020/7/1/21309981/bronx-rent-strike-tenants">huelgas de rentas</a>, <a
            href="https://www.kiro7.com/news/trending/coronavirus-arizona-school-system-nixes-monday-reopening-after-teachers-stage-sickout/YCDDXEOPDBGQRGNR4JDWDYZK6E/">bajas colectivas por enfermedad</a>, and <a
            href="https://www.vice.com/en_us/article/y3mjxg/general-electric-workers-walk-off-the-job-demand-to-make-ventilators">huelgas secundarias</a>Este zine busca algunos ejemplos en el pasado reciente y lejano. Estas acciones colectivas y disruptivas requieren valentía, y son frecuentemente sancionadas, pero presionan a las instituciones y ponen a prueba la capacidad de los organizadores para resistir y superar las represalias a corto plazo. Pueden ayudar a construir un poder a largo plazo.</p>

    <p>Esperamos adaptar estas tácticas de interrupción a nuestro contexto de organizar por la abolición de las prisiones. ¿Podría la acción directa dificultar tanto el funcionamiento diario del sistema legal penal, de tal forma de que se obligue a los burócratas que trabajan para el sistema carcelario a dejar de encarcelar a personas durante y después de la pandemia? ¿Qué tácticas disruptivas son adecuadas para las cortes judiciales o penales? ¿Cómo podríamos utilizar la fuerza de los trabajadores de las cortes? ¿Cómo creamos vías de acción directa para las personas y familias directamente afectadas por el encarcelamiento, así como para el público en general? ¿Cómo reducimos o cerramos la maquinaria del encarcelamiento? ¿Qué nos espera al otro lado de este portal?</p>

    <p>Esperamos que esto les inspire a hacer preguntas nuevas y a encontrar respuestas.</p>

</div>

</div>